<!-- Botón Menú Hamburguesa -->
<button id="toggle-sidebar-btn" class="hamburger-btn" aria-label="Abrir menú">
    <i class="fa-solid fa-bars"></i>
</button>

<!-- Panel Lateral de Navegación -->
<header class="navbar" id="sidebar-navbar">
    <div class="logo" >
        <h2>HuilaTour <span>Conecta</span></h2>
        <small>Informe Técnico de Software</small>
    </div>
    <nav class="nav-links">
        <a href="index.html" id="nav-resumen"><i class="fa-solid fa-file-contract"></i> Resumen</a>
        <a href="requerimientos.html" id="nav-requerimientos"><i class="fa-solid fa-list"></i> Requerimientos</a>
        <a href="normas.html" id="nav-normas"><i class="fa-solid fa-gavel"></i> Normas</a>
        <a href="arquitectura.html" id="nav-arquitectura"><i class="fa-solid fa-sitemap"></i> Arquitectura</a>
        <a href="modelado_datos.html" id="nav-modelado"><i class="fa-solid fa-database"></i> Modelado y Diagramas</a>
        <!-- <a href="index.html#costos" id="nav-costos"><i class="fa-solid fa-coins"></i> Presupuesto</a> -->
    </nav>
</header>